<div ng-repeat='row in gameBoard.rows' class='gameRow'>
    <div ng-repeat='cell in gameBoard.rows[$index]' ng-class='cell.statusToken()' class='gameCell' ng-click='processClick(cell)'>
        <div draggable='true' ng-class='cell.token()' class='token'>
            <span class='icon'>{{cell.getIcon()}}</span>
            <span>{{cell.word}}</span>
            <span class='decoration'>{{cell.decoration}}</div>
</div>
</div>
<div ng-if="selectedCell">
Selected Cell:
{{selectedCell.x}}, {{selectedCell.y}}
</div>
<wordbox claimcell="claimcell()" selectedcell="selectedCell"></wordbox>
<div class='clear'></div>
