   <div class='gameContainer' ng-controller='WordGameController'>
       <div ng-if="enableBoard" ng-game-board cols='4' rows='4' ng-model='gameBoard'></div>
       <!--     <ul>
       <li ng-repeat='player in players'>
           <span class='{{player.token}}Token'>{{player.name}}</span>
     </li>
    </ul>
-->
       <span class='{{player.token}}Token' ng-if="yourTurn && enableBoard">Your turn</span>
       <span class='{{player.token}}Token' ng-if="!yourTurn && enableBoard">Waiting on your oppenent</span>
       <!-- <span>Time remaining: {{timeRemaing}}</span> -->
       <!-- <select ng-model='firstPlayer' ng-options='player.name for player in players'></select> -->
       <span ng-show="messages">{{messages}}</span>
       <div ng-show="askNew">
           New game requested
           <button ng-click="accept()">Accept</button>
           <button ng-click="decline()">Decline</button>
       </div>
       <button ng-if="enableBoard" ng-show="showNewGame" ng-click='newGame()' />New Game</button>
       {{ gameStatus }}
       <button ng-hide="playerNumber || playerNumber == 0" ng-click="joinGame()">Join room</button>
   </div>
