   <div class='gameContainer'>
       <div ng-show="enableBoard" ng-game-board cols='4' rows='4' ng-model='gameBoard'></div>
       <!--     <ul>
       <li ng-repeat='player in players'>
           <span class='{{player.token}}Token'>{{player.name}}</span>
     </li>
    </ul>
-->    <div class="game-bottom">
       <span ng-if="yourTurn && enableBoard && !spectating">Your turn</span>
       <span ng-if="!yourTurn && enableBoard && !spectating">Waiting for your oppenent...</span>
       <!-- <span>Time remaining: {{timeRemaing}}</span> -->
       <!-- <select ng-model='firstPlayer' ng-options='player.name for player in players'></select> -->
       <button ng-if="enableBoard" class="new-game btn btn-sm btn-primary" ng-show="showNewGame && !spectating" ng-click='newGame()' />New Game</button>
       </div>
       <br>
       <span ng-if="gameStatus">{{ gameStatus }}</span>
       <span ng-show="roomInfo.player1 != user.id && roomInfo.player2 != user.id">
          <button ng-hide="spectating" class="btn-primary btn join-room" ng-click="spec()">Spectate</button>
       </span>
       <button class="btn-primary btn join-room" ng-hide="spectating || playerNumber || playerNumber == 0 || (roomInfo.player1 != user.id && roomInfo.player2 != user.id && roomInfo.player1 != null && roomInfo.player2 != null)" ng-click="joinGame()">Join room</button>
   </div>
       <div ng-show="messages && !spectating" class="fixed-message"><span>{{messages}}</span></div>
       <div class="fixed-message" ng-show="askNew && !spectating && enableBoard">
           <h4>New game requested</h4>
           <button class="btn btn-primary" ng-click="accept()">Accept</button>
           <button class="btn btn-primary" ng-click="decline()">Decline</button>
       </div>
